In [1]:
import numpy as np
from IPython.display import display
import pandas as pd

In [58]:
df = pd.read_json("students_grades.json", orient="records")
df["math score"] = pd.to_numeric(df["math score"])
df["reading score"] = pd.to_numeric(df["reading score"])
df["writing score"] = pd.to_numeric(df["writing score"])

print(df.columns)
#df.head(5)

Index(['names', 'gender', 'race/ethnicity', 'parental level of education',
       'lunch', 'test preparation course', 'math score', 'reading score',
       'writing score'],
      dtype='object')

In [57]:
inter = np.arange(0, 101, 1)
print("Original: ", len(df))
df_cleaned = df.drop_duplicates(subset="names", inplace=False)
print("drop_duplicates()", len(df_cleaned))
df_cleaned = df_cleaned[df_cleaned["math score"].isin(inter)]
df_cleaned = df_cleaned[df_cleaned["reading score"].isin(inter)]
df_cleaned = df_cleaned[df_cleaned["writing score"].isin(inter)]
print("df_cleaned len: ", len(df_cleaned))
df_cleaned = df_cleaned.dropna()


#df_cleaned.drop_duplicates().dropna()
#len(list(set(df_cleaned["names"])))

Original:  1400
drop_duplicates() 1153
df_cleaned len:  875

In [16]:
# Se puede indexar con una boolean series.

# DataFrame con los nombres que están duplicados.
df_test = df[df.duplicated(subset="names", keep=False)]
print("Number of duplicated names: ", len(df_test["names"].unique()))
# Todos deberían ser duplicated.
display(df_test.duplicated(subset="names", keep=False))
# Quitamos los que tengan scores sobre 100.
interval = np.arange(0, 101, 1)
df_test = df_test[df_test["math score"].isin(interval) & df_test["reading score"].isin(interval) & df_test["writing score"].isin(interval)]

# Mostramos el dataframe.
df_test[df_test.duplicated(subset="names", keep=False)]

Number of duplicated names:  246

0       True
5       True
6       True
8       True
10      True
        ...
1385    True
1390    True
1393    True
1395    True
1398    True
Length: 493, dtype: bool

,names,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
66,Anthony Malcomb,male,group C,some college,free/reduced,none,35.0,28.0,27.0
562,Charles Jackson,male,group E,some high school,standard,none,30.0,26.0,22.0
816,Justin Harris,male,group D,some college,standard,none,40.0,42.0,38.0
827,Justin Harris,male,group D,some college,standard,none,40.0,42.0,38.0
900,Anthony Malcomb,male,group C,some college,free/reduced,none,35.0,28.0,27.0
1223,Charles Jackson,male,group E,some high school,standard,none,30.0,26.0,22.0

In [5]:
df.select_dtypes(include=np.number).mean(axis=1)

0        43.000000
1       136.000000
2       181.666667
3        79.666667
4       154.333333
           ...
1395    176.000000
1396     73.666667
1397     59.000000
1398    194.000000
1399     74.666667
Length: 1400, dtype: float64

In [6]:
serie = pd.Series(np.zeros(len(df)), dtype="boolean")
serie[0] = 1
serie.duplicated(keep=False)

0       False
1        True
2        True
3        True
4        True
        ...
1395     True
1396     True
1397     True
1398     True
1399     True
Length: 1400, dtype: bool

In [7]:
df_test = pd.DataFrame({"col1": range(10)})
df_test

   col1
0     0
1     1
2     2
3     3
4     4
5     5
6     6
7     7
8     8
9     9

In [8]:
pd.qcut(df_test["col1"], 5, labels=['Bajísimo', 'Bajo', 'Medio', 'Alto', 'Muy alto'])

0    Bajísimo
1    Bajísimo
2        Bajo
3        Bajo
4       Medio
5       Medio
6        Alto
7        Alto
8    Muy alto
9    Muy alto
Name: col1, dtype: category
Categories (5, object): ['Bajísimo' < 'Bajo' < 'Medio' < 'Alto' < 'Muy alto']