In [46]:
import pandas as pd
import numpy as np
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import Normalizer

pd.set_option("display.max_columns", None)

In [47]:
X = pd.DataFrame()
X["hola"] = [1, 2, 3]
X["adios"] = [1, 2, 3]
X

   hola  adios
0     1      1
1     2      2
2     3      3

In [48]:
col_transform = ColumnTransformer([("name1", Normalizer(norm="l1"), [True,False])])

col_transform.fit_transform(X)

array([[1.],
       [1.],
       [1.]])

In [24]:
df = pd.read_csv("stats_players.csv")
df.sample(3)

,Name,Nationality,National_Position,Club_Position,Height,Weight,Preffered_Foot,Age,Work_Rate,Weak_foot,Skill_Moves,Ball_Control,Dribbling,Marking,Sliding_Tackle,Standing_Tackle,Aggression,Reactions,Interceptions,Vision,Composure,Crossing,Short_Pass,Long_Pass,Acceleration,Speed,Stamina,Strength,Balance,Agility,Jumping,Heading,Shot_Power,Finishing,Long_Shots,Curve,Freekick_Accuracy,Penalties,Volleys
15295,Emmanuel Onariase,England,NaN,RCB,188,82,Right,20,Medium / Medium,3,2,48,47,52,56,58,55,57,56,40,47,33,37,34,55,55,58,72,50,42,73,62,43,25,31,34,33,45,31
8054,Bryan Carrasco,Chile,NaN,CM,172,70,Right,26,Medium / Medium,3,4,66,70,59,62,62,64,57,64,43,56,62,64,58,89,86,62,51,68,89,59,53,72,61,72,61,52,61,59
15909,Berat Delihasan,Turkey,NaN,Res,172,67,Right,18,Medium / Medium,2,2,47,60,48,64,55,60,58,49,47,49,46,66,58,66,66,58,42,80,54,59,55,62,32,40,43,44,54,46

In [35]:
df.describe()

,Height,Weight,Age,Weak_foot,Skill_Moves,Ball_Control,Dribbling,Marking,Sliding_Tackle,Standing_Tackle,Aggression,Reactions,Interceptions,Vision,Composure,Crossing,Short_Pass,Long_Pass,Acceleration,Speed,Stamina,Strength,Balance,Agility,Jumping,Heading,Shot_Power,Finishing,Long_Shots,Curve,Freekick_Accuracy,Penalties,Volleys
count,17588.00000,17588.000000,17588.000000,17588.000000,17588.000000,17588.000000,17588.000000,17588.000000,17588.000000,17588.000000,17588.000000,17588.000000,17588.000000,17588.000000,17588.000000,17588.000000,17588.000000,17588.000000,17588.000000,17588.000000,17588.000000,17588.000000,17588.000000,17588.000000,17588.000000,17588.000000,17588.000000,17588.000000,17588.000000,17588.000000,17588.000000,17588.000000,17588.000000
mean,181.10547,75.253355,25.460314,2.934103,2.303161,57.972766,54.802877,44.230327,45.565499,47.441096,55.920173,61.770582,46.794064,52.707869,55.853139,49.741073,58.119798,52.396065,65.287867,65.483853,63.476916,65.085854,64.008813,63.206732,64.918524,52.393109,55.581192,45.157607,47.403173,47.181146,43.383443,49.165738,43.275586
std,6.67516,6.897948,4.680217,0.655927,0.746156,16.834779,18.913857,21.561703,21.515179,21.827815,17.445464,9.275210,20.494715,14.589446,13.485994,18.457977,14.982582,15.616071,14.436296,14.100615,15.477377,12.532989,13.720288,14.618163,11.430807,17.473703,17.600155,19.374428,19.211887,18.464396,17.701903,15.871735,17.710839
min,155.00000,48.000000,17.000000,1.000000,1.000000,5.000000,4.000000,3.000000,5.000000,3.000000,2.000000,29.000000,3.000000,10.000000,5.000000,6.000000,10.000000,7.000000,11.000000,11.000000,10.000000,20.000000,10.000000,11.000000,15.000000,4.000000,3.000000,2.000000,4.000000,6.000000,4.000000,7.000000,3.000000
25%,176.00000,70.000000,22.000000,3.000000,2.000000,53.000000,47.000000,22.000000,23.000000,26.000000,44.000000,55.000000,26.000000,43.000000,47.000000,38.000000,52.000000,42.000000,57.000000,58.000000,57.000000,57.000000,56.000000,55.000000,58.000000,45.000000,45.000000,29.000000,32.000000,34.000000,31.000000,39.000000,30.000000
50%,181.00000,75.000000,25.000000,3.000000,2.000000,63.000000,60.000000,48.000000,51.000000,54.000000,59.000000,62.000000,52.000000,54.000000,57.000000,54.000000,62.000000,56.000000,68.000000,68.000000,66.000000,66.000000,65.000000,65.000000,65.000000,56.000000,59.000000,48.000000,52.000000,48.000000,42.000000,50.000000,44.000000
75%,186.00000,80.000000,29.000000,3.000000,3.000000,69.000000,68.000000,64.000000,64.000000,66.000000,70.000000,68.000000,64.000000,64.000000,66.000000,64.000000,68.000000,64.000000,75.000000,75.000000,74.000000,74.000000,74.000000,74.000000,73.000000,65.000000,69.000000,61.000000,63.000000,62.000000,57.000000,61.000000,57.000000
max,207.00000,110.000000,47.000000,5.000000,5.000000,95.000000,97.000000,92.000000,95.000000,92.000000,96.000000,96.000000,93.000000,94.000000,94.000000,91.000000,92.000000,93.000000,96.000000,96.000000,95.000000,98.000000,97.000000,96.000000,95.000000,94.000000,93.000000,95.000000,91.000000,92.000000,93.000000,96.000000,93.000000

In [51]:
df["Name"].categories

AttributeError: 'Series' object has no attribute 'categories'